<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Projects app</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<!--=================================
	/HEADER
	=====================================
	-->
	<header id="header" class="">
		<h1>HEADER:</h1>
	</header><!-- /header -->
	<!--=================================
	/MAIN 
	=====================================
	-->
	<section class="main">
		<article id="container_view">
			<h3>Container View</h3>
		</article>
	</section>
	<!--=================================
	/FOOTER 
	=====================================
	-->
	<footer>
		<h3>Footer</h3>
	</footer>
<!--=================================
TEMPLATES
=====================================
-->
{% raw %}
<script id="project_item" type="text/template">
	<div class="project_item">
		<h3>{{titulo}}</h3>
	</div>
</script>


{% endraw %}
<!--=================================
/SCRIPTS:
=====================================
-->
<!--LIBS-->
<script src="/lib/jquery.min.js" charset="utf-8" ></script>
<script src="/lib/underscore.min.js" charset="utf-8" ></script>
<script src="/lib/backbone.min.js" charset="utf-8" ></script>
<script src="/lib/swig.min.js" charset="utf-8" ></script>
<!--mis JSs-->
<script src="/js/init.js" charset="utf-8" ></script>
<script src="/js/model/proyecto.js" charset="utf-8" ></script>
<script src="/js/collection/proyectos.js" charset="utf-8"></script>
<script src="/js/view/proyecto.js" charset="utf-8" >
</script>
<script>
$(function(){
	
	App.Collection.Proyecto = new Class.Collection.Proyectos ();
	App.Collection.Proyecto.fetch();
	App.Collection.Proyecto.on("add", function(model){
		App.View.Project = new Class.View.Project({model:model});
		App.View.Project.render();
	});
});

</script>

</body>
</html>